<%= render partial: "accounts/partials/header" %>
<h1>Home page</h1>

<p>First Name: <%= session[:first_name] %></p>
<p>Last Name: <%= session[:last_name] %></p>
<p>Email: <%= session[:email] %></p>
<a href="/accounts/edit_page">Edit</a>